.title {
    font-size: 20;
}

.author {
    font-size: 14;
}

.comments {
    color: #10C2B0;
    font-size: 14;
}

.gridpanel { 
    background-color: #363940;
}

.detailsTitle { 
    color: #FFFFFF;
    font-size: 30;

}

.detailsAuthor { 
    color: #10C2B0;
    font-size: 20;
}

.detailsStaticText { 
    color: #C6C6C6;
    font-size: 20;
}
